body {
  font-family: "Poppins", sans-serif;
  background: #eef7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #0ea5e9;
  margin-bottom: 20px;
}

.calc-container {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.display {
  width: 100%;
  box-sizing: border-box;   /* prevents overflow */
  background: #eaf4fb;
  padding: 15px;
  font-size: 2rem;
  text-align: right;
  border-radius: 10px;
  border: 2px solid #c4d7e8;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  background: #dbeafe;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #bfdbfe;
}

.op {
  background: #93c5fd;
}

.op:hover {
  background: #60a5fa;
}
